@import "../../styles/import.scss";

.page__not__found {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100vh;
  padding: 1rem;
  &--content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background-color: #0a0a0c;
    border-radius: 0.5rem;
    padding: 1.5rem;
    border: 2px solid white;
    width: 400px;
  }

  &--top {
    font-size: 3rem;
    letter-spacing: 0.2em;
    @include media("<smd") {
      font-size: 1.5rem;
    }
  }
}
