@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,800&display=swap");
@import "./import.scss";

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html,
#root {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background: linear-gradient(to top, #181820, #222227) !important;
  color: white;
  height: 100%;
  width: 100%;
  @include media(">md") {
    overflow-y: scroll;
  }
}

.Layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding-bottom: 1rem;
  gap: 2rem;
}

a {
  font-family: $ff-main;
  color: white;
  text-decoration: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

button,
input,
select,
textarea {
  margin: 0;
  font-family: $ff-main;
}

input,
select {
  vertical-align: middle;
  outline: none;
  border: none;
  color: white;
  &::placeholder {
    font-family: $ff-main;
  }
}
.spinner--wrapper {
  position: fixed;
  inset: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  backdrop-filter: blur(4px);
  span {
    color: #ad2027 !important;
  }
}

.MuiList-root .MuiMenuItem-root {
  .MuiListItemIcon-root {
    svg {
      will-change: color;
      * {
        transition: $transition-250;
      }
    }
  }
  &:hover {
    .MuiListItemIcon-root {
      svg {
        * {
          fill: black;
        }
      }
    }
  }
}
