@import "../../styles/import.scss";

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0a0a0c;
  border: 1px solid #fff !important;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 400px;

  @include media("<smd") {
    width: calc(100% - 40px);
  }

  button {
    width: 100%;
  }
}
