@import "../../styles/import.scss";

.layout--wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.todos {
  &--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin-top: 2rem;
  }
  &__user--title {
    align-self: flex-start;
    letter-spacing: 0.05em;
    font-size: 1.1rem;
    opacity: 0.7;
    font-weight: lighter;
    .title--headings {
      font-weight: bold;
      text-transform: capitalize;
      color: #e21a24;
    }

    @include media("<smd") {
      font-size: 0.8rem;
    }
  }
  &__add {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    gap: 1rem;

    &__inputs {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      width: 100%;
      gap: 1rem;
      input {
        font-size: 16px !important;
        width: 100%;
      }
    }
    .input--wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
    button {
      width: 100%;
    }
  }

  &__details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: $ff-main !important;

    &--title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      p {
        font-size: 1rem;
        letter-spacing: 0.055em;
        font-weight: bold;
        text-transform: capitalize;
        max-width: 1000px;
        @include media("<smd") {
          max-width: 100px;
        }
      }
    }
    &--dates {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      flex-direction: column;
      padding-right: 1rem;
      @include media("<smd") {
        padding-right: 0.2rem;
      }
    }
    &--date {
      span {
        font-size: 0.75rem;
        @include media("<smd") {
          font-size: 0.7rem;
        }
      }
      :first-child {
        opacity: 0.75;
      }
    }
  }
  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

  &__search {
    position: relative;
    input {
      max-width: 1000px;
      @include media("<smd") {
        max-width: 180px;
      }
    }
    &--results {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      span {
        font-size: 0.75rem;
        opacity: 0.7;
        text-transform: uppercase;
        letter-spacing: 0.04em;
        @include media("<smd") {
          font-size: 0.7rem;
        }
      }
    }
    &::before {
      content: "";
      position: absolute;
      bottom: -1.7rem;
      height: 2px;
      width: 100%;
      border-radius: 50%;
      background: #e21a242d;
      border-radius: 3rem;
    }
  }
}
.action {
  transition: $transition-250;
  will-change: transform;
  &:hover {
    transform: scale(1.1);
  }
}

.todo {
  transition: $transition-250 !important;
  transform: translateX(-100%);
  opacity: 0.2;
  filter: blur(5px);
  will-change: background-color;
}

.completed {
  will-change: background-color;
  background: rgba(101, 165, 101, 0.692) !important;
  transition: $transition-250 !important;
}
